body{
    display: flexbox;
}
.firstpp{
    color: blue;
    text-decoration: none;
}
a:hover{
    color: rgb(243, 182, 130);
}
.firstline{
    color: rgb(122, 121, 121);
    text-align: center;
    
    border-bottom: 1px solid rgb(122, 121, 121);
}
/* fromherefirst row is setted */
.imge1{
    
    float: left;
}
.imgf{
    
}
.firstimg1{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    
    padding: 0;
    padding-left: 100px;
    border-bottom: 1px solid rgb(122, 121, 121);
    
    background-color:white;
    justify-content: baseline;
    
}
li{
    display: inline-block;
    padding-left: 40px;
    font-size: larger;
    color:rgb(151, 150, 149);
    text-shadow: greenyellow 6px;
    
    
}
.iii{
    text-decoration: none;
    color:rgb(122, 121, 121);
    margin: 10px;
    margin-top: -2px;
    
}
.my{
    margin:auto;
    max-width:300px
}
.shr{
    padding: 20px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}
.imgg{
    float: right;
    margin-right: -350px;
    margin-top: -6.5%;
    border-left: 0.5px solid rgb(122, 121, 121);
}
 input{
    border: none;
    outline: none;
    color: blue;
    font-size: 15px;
    padding: 20px;
    
}
.shrbox{

    font-weight: 800;
    font-size: 18px;
    margin-right: 6px;

}
.but{
    margin-right: -51px;
    margin-top: 2px;
    color:black;
    background-color:rgb(161, 199, 84) ;

}
/* from here first image is setted */
.firstheading{
    
    background-repeat: no-repeat;
    background-position: right bottom;
    border: 1px solid  rgb(244, 239, 233);
    height: 728px;
    background-color: rgb(244, 239, 233);
    text-align:center;
    
}
.img23{
    margin-top: -40%;
    margin-right: -40%;
}
.text{
    border: 2px solid  rgb(244, 239, 233);
    width: 600px ;
    margin-left: 250px;
    margin-top: 200px;
    text-align: justify;
    
}
.one{
    color: rgb(161, 199, 84);
    font-size: large;
}
.two{
    font-size: 55px;
    font-weight: 800;
    color: rgb(51, 51, 51);
}
.firstp{
    color: rgb(122, 121, 121);

}
.secondheading{
    background-color: rgb(248, 248, 248);

}
.head2{
    color: rgb(171, 171, 176);
    text-align: center;
    font-size: 15px;
}
.head3{
    text-align: center;
    font-size: 40px;
}
/* here my first card appear */
.second1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.fitem1{
     border: 2px solid white;
     width: 300px;
     margin: 20px;
     padding: 20px;
     justify-content: center;
    align-items: center;
    text-align: center;
    height: 450px;
    background-color: white;
    font-weight: 40px;
}
.he{
    font-size: 25px;
    font-weight: 400;
}
.shut{
    color: rgb(173, 173, 173);
    font-size: 18px;
    font-weight:lighter;
}
.fitem1:hover{
    
    cursor: pointer;
    margin-top: -1px;
}
.cha{
    text-align: center;
}
.stg1{
    color: rgb(125, 196, 20);
}
/* from here my second card of flexbox */
.sech{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(252, 252, 252);
    flex-direction: row;
    margin: 50px;

}
.hitem{
    align-content: center; 
    width: 300px;  
    margin: 100px;
    float: left 50px;
    padding: 15px;
    font-size: larger;
    font-weight: bolder;
    margin-right: 30px;
    
}
.hitem1{
    align-content: center;
    width: 300px;
    padding: 15px;
}
.his{
    font-size: 28px;
}
.b1{
    border: 2px solid rgb(158, 197, 80);
    color: white;
    background-color: rgb(158, 197, 80);
    border-radius: 4px;
    padding: 5px;
}
.b1:hover{
    cursor: pointer;
    margin-top: -2px;
}
.num{
    color: rgb(122, 121, 121);
    font-size: 24px;
    font-weight: 800;
    line-height: 1.2;
    margin-right: 10px;
    min-width: 45px;
}
.hea{
    font-size: 24px ;
    font-weight: 800;
    border-top: 1px solid rgb(121, 120, 120);
    
}
.hep{
    color: rgb(122, 121, 121);
    
}
.hitem2:hover{
    color: rgb(158, 197, 80) ;
    cursor: pointer;
    

}
.hitem3:hover{
    color: rgb(158, 197, 80) ;
    cursor: pointer;
    background-color: greenyellow;
    border: 2px solid gold;
    padding: 5px;
}
.hitem4:hover{
    color: rgb(158, 197, 80) ;
    cursor: pointer;
    background-color: greenyellow;
    border: 2px solid gold;
    padding: 5px;
}
.hitem2{
    
    margin: 25px;
    width: 600px;
}
.op{
    
    margin-left: 25px;
    margin-top: -75px;
    padding: 5px;
}

/* from here my third card options appears */
.mid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px rgb(245, 245, 245);
    justify-content: center;
}
.m1{
    border: 2px solid  rgb(245, 245, 245);
    justify-content: center;
    text-align: center;
    width: 350px;
    height: 580px;
    padding: 6px;
    margin: 6px;
    border-radius: 10px;   
}
.m1:hover{
       margin-top: -2px;
       
       cursor: pointer;
}
.i1{
    font-weight: 800;
    color:rgb(158, 197, 80) ;
    text-shadow: 2px;
}
.i2{
    color: rgb(128, 126, 126) ;

}
.mb{
    color: white;
    background-color: rgb(158, 197, 80) ;
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
}
.mb:hover{
    margin-top: -2px;
    cursor: pointer;
}
.mw{
    justify-content: center;
    text-align: center;
    background-color: rgb(245, 245, 245);
    padding: 10px;
}
.hhh{
    color:  rgb(128, 126, 126);
}
.ttt{
    font-size: 28px;
    font-weight: 400;
}
/* from here the next card appears */
.gup{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    
    background-color: white;
}
.gup1{
    border-left: 1px solid rgb(237, 237, 237);
    border-right: 1px solid rgb(237, 237, 237);
    padding: 50px;
}
.i22{
    font-weight: 600;
    font-size: 25px;
}
.i33{
    color: rgb(158, 197, 80);
    font-weight: 900;
    font-size:95px ;
}
.i44{
    color: rgb(219, 174, 149);
    font-size: 18px;
}
.l1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 2px solid white;
    text-align: center;
    justify-content: center;
}
.lq1{
    text-align: center;
    border: 2px solid white;
    width: 300px;
     margin: 20px;
     padding: 20px;
}
.lq2{
    border: 2px solid white;
    width: 400px;
     margin: 50px;
     padding: 15px;
}

.ii9{
    margin: 30px;
    text-align: justify;
    text-decoration: none;
    color:  rgb(128, 126, 126);
}
.il{
    text-decoration: none;
    color:  rgb(128, 126, 126);
    margin: 10px;
    font-size: large;
}
.il:hover{
    color:rgb(158, 197, 80) ;
    
}
.i55{
    color: rgb(128,126,126);
}
.i66{
    color: rgb(158, 197, 80) ;
    font-size: 28px;
    font-weight: 800;
}
.i99{
    font-weight: 700;
    font-size: 24px;
}
.ilm{
    color: white;
    background-color:rgb(158, 197, 80) ;
    border-radius: 4px;
}
.ilm:hover{
    margin-top: -2px;
    cursor: pointer;
}
.lq2:hover{
    margin-top: -1px;
    cursor: pointer;
}
/* the contact informations start from here  */
.lastcard{
          display: flex;
          flex-wrap: wrap;
          background-color: rgb(239, 242, 247);
          border: 2px solid rgb(239, 242, 247);
          justify-content: center;
          margin: 4px;
}
.lcard{
      border: 2px solid rgb(239, 242, 247);
      margin: 5px;
      padding: 10px;
      font-size: 25px;
      margin-right: 50px;
}
.lcont{
    border: 2px solid rgb(239, 242, 247);
    justify-content: center;
    text-align: center;
    padding: 10px;
    font-size: 28px;

}
.q12{
    border-left: 4px solid rgb(210, 169, 142);
    margin-left: 2px;
    margin: 4px;
}
.q13{
    color:rgb(128,126,126) ;
}
.q{
    color: white;
    background-color: rgb(238, 142, 142);
    border-radius: 5px;
    padding: 15px;
    margin: 5px;
}
.q:hover{
    margin-top: -2px;
    background-color:rgb(158, 197, 80) ;
    cursor: pointer;
}
/* from this the final information more cards appear */
.lastone{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lo1{
    border: 2px solid white;
    margin: 10px;
    margin-right: 20px;
    text-align: justify;
    padding: 10px;
    line-height: 25px;

}
.q15{
    color: rgb(128, 126, 126);
}
/* ending items */
.las{
    float: right;
    margin-top: 11px;
    font-size: 24px;
    font-weight: 400;
}
.ll1{
    border: 2px solid white;
    
}
.q17{
    border: 1px solid rgb(128, 126, 126)s;
    padding: 10px;
    margin: 4px;
    border-radius: 50px;
    justify-content: center;
    align-items: centers;
}
.log{
    color:rgb(128, 126, 126) ;
}
.q17:hover{
    color: white;
    background-color:rgb(158, 197, 80) ;
}